<%- include("partials/header") -%>

<div class="main">
<h1>About</h1>
<p>This webapplication is made from Reaktor's bad API challenge.</p>

<p>In this simple UI you can search for and list products in three categorys, gloves
    beanies and facemasks. This is done by choosing the product category your want in the select-menu at the top of the page.
     You can also from your searches check the availability of a certain
    product by checking the checkbox and pressing the submit button. You are then redirected
    to a page that displays the availability for the certain product.
</p>

</div>


<%- include("partials/footer") -%>
