<%- include("partials/header") -%>

<div class="main">
<h2>Home</h2>
<p>To get started please select the category of products you wish to list in the select menu above.</p>
</div>


<%- include("partials/footer") -%>
